table,tr,td,th{
   border: 2px solid red;
   border-collapse: collapse;
   height: 50px;
   width:40%;
   table-layout:auto;
   vertical-align:middle;
   text-align:center;
   font-size:20px;
   font-family: cursive;

   }